body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

/* HEADER */
header {
  background-color: #1e293b;
  text-align: center;
  padding: 15px;
}

/* MENU */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background: #2f4f73;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffd700;
}

/* BANNER */
.banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

/* CONTEÚDO */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1c2a3a;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

/* SEÇÕES */
.cta, .frase {
  text-align: center;
  margin: 30px 0;
}

/* FOOTER */
footer {
  text-align: center;
  background: #1e293b;
  padding: 15px;
}
.banner img {
  width: 100%;
  display: block;
}

